.app {
  text-align: center;
  min-height: 100vh;
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.instructions {
  padding: 24px 8px;
}